@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700);

html, input, textarea { font-family: 'Averia Serif Libre'; }
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: #fefefe;
    width: 600px;
    margin: 7rem 0 1rem 13rem;
}

h1, h2, h3 { font-weight: 700; margin-bottom: 0; }
h1 { font-size: 3.6rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.1rem; }

.error { color: #8B0101; }

label {
    font-weight: 700;
    font-size: 2.1rem;
}

input[type=text] {
    width: 400px;
    padding: 2px;
}

input[type=submit] {
    background-color: rgb(0,152,116);
    border-style: none;
    padding: 3px;
    border-radius: 2px;
    color: #fff;
    font-size: 1.8rem;
    margin: 10px 0;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 2rem;
}
.monospace { font-family: monospace; }

ul { margin-top: 0; }

hr { margin: 20px auto; }

.art + .art { margin-top: 20px; }

.art-title {
    font-weight: 700;
    font-size: 2.4rem;
}

.art-body {
    margin: 0;
}

