@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);

html, input, textarea { font-family: 'Averia Serif Libre'; }
html { font-size: 62.5%; }

body {
    font-size: 1.6rem;
    background-color: #fefefe;
    padding: 2rem;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2.1rem; margin-bottom: 0; }

.label { text-align: right }

.error { color: #8B0101; }