<!DOCTYPE html>

<html>
  <head>
    <title>/ascii/</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css">

  </head>

  <body>
    <h1>ASCII</h1>

    <form method="post">
      <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
      </label>

      <label>
        <div>art</div>
        <textarea name="art" class="monospace">{{art}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>

    <hr>

    {% for art in arts %}
      <div class="art">
        <div class="art-title">{{art.title}}</div>
        <pre class="art-body">{{art.art}}</pre>
      </div>
    {% endfor %}

  </body>
</html>
