<!DOCTYPE html>
<html>
<head>
  <title>Tara's CS253 Projects</title>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

  <div id="container">

    <div id="header">
      <h1><a href="/blog">Tara's Blog</a></h1>
      <a href="/blog/newpost">+new post</a>
    </div>

    <div id="body">
      {% block content %}
      {% endblock %}
    </div>

    <div id="footer">
      <p>
        site by taramk
      </p>
    </div>

  </div>

</body>
</html>
