<!DOCTYPE html>

<html>
  <head>
    <title>Blog</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css">

  </head>

  <body>
    <h1>New blog post</h1>
    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <label>
        <div>content</div>
          <textarea name="content">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <br>
      <input type="submit" value="submit">
    </form>
  </body>

</html>
